:root {
  --color-accent-fill-base: #c20e1a;
  --color-accent-fill-hover: #9b0b15;
  --color-accent-fill-active: #9b0b15;
  --color-accent-fill-disabled: #4e0308;
  --color-text-on-accent-base: #fff;
  --color-text-on-accent-disabled: #adadad;
  --color-secondary-fill-base: #515151;
  --color-secondary-fill-hover: #3d3d3d;
  --color-secondary-fill-active: #3d3d3d;
  --color-secondary-fill-disabled: #1e1e1e;
  --color-text-on-secondary-base: #fefefe;
  --color-text-on-secondary-disabled: #fefefe;
  --color-focus-ring: #171717;
}
